// MOBILE
footer {
    background-color: #0F3E57;

    ul {
        padding: 0;
    }

    li {
        color: white;
        list-style: none;
    }

    article {
        width: 100%;
    }

    input {
        width: 60%;
    }
}

article h6 {
    width: 100%;
    color: white;
    text-transform: capitalize;
    font-size: 15px;
}

// WEB
@media (min-width:992px) {
 

}
