// MOBILE
.navbar-header {}

.navbar {
    margin: 0;
}

nav {
    a {
        text-transform: capitalize;
    }
}

.title {
    text-align: center;
    background-color: #281400;
    padding: 2em 0;
}

h1 {
    color: white;
    margin: 0;
    text-transform: uppercase;
    font-family: century schoolbook;
}

h2 {
    color: white;
    font-family: serif;
}

.title button {
    background-color: #A28F61;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    padding: 0.75em 2em;
}

// WEB
@media (min-width:992px) {

    .nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .navbar {
        border: none;
        background-color: #281400;
        border-radius: 0;
    }

    .title {
        padding: 3em 0 6em 0;

        h1, h2 {
            width: 30%;
            margin: auto;
            padding: 0.5em 0;
        }

        button {
            width: 20%;
            margin: auto;
            font-size: 10px;
        }
    }

}
