.container, .row {
    padding: 0;
    margin: 0;
}

// IMPORTS
@import "header";
@import "main";
@import "footer";
//

// WEB
@media (min-width:992px) {
    body {
        width: 992px;
        margin: auto;
    }
}
